
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarsExample09">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <div class="log-block">
          <a href="signin">Sign in</a><span>/</span>
          <a href="signup">Sign up</a>
        </div>
        <%# <div class="log-block">
          <a href="">Mr Li</a><span>/</span>
          <a href="">Sign out</a>
        </div> %>
      </div>
    </nav>
  </div>
