<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta HTTP-EQUIV="Cache-Control" CONTENT="max-age=3600" />
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="/public/css/style.css" rel="stylesheet">
</head>